<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Index - %BLOG_NAME%</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <div id="index-container">
            <h1>%BLOG_NAME%</h1>
            <ul id="posts">
                %LIST%
            </ul>
            <footer>
                <hr />
                <span
                    >This blog is powered by my email.
                    <a href="https://github.com/weebney/inblog">What?</a>
                </span>
            </footer>
        </div>
    </body>
</html>
