<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf8" />
        <title>%SUBJECT% - %BLOG_NAME%</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles.css" />
    </head>
    <body>
        <div id="post-container">
            <a href="../index.html" id="back">⬅</a>
            <h1 id="subject">%SUBJECT%</h1>
            <p id="date">%DATE%</p>
            <hr />
            <div id="content">%BODY%</div>
        </div>
    </body>
</html>
